html {
  background: #b4d0e0 url('bg.png');
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.15;
  text-align: center;
}

a {
  color: #000;
}

main {
  background: #fff;
  margin: 1rem 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.field {
  display: block;
  margin-top: 1rem;
}

label {
  display: block;
  font-size: 1rem;
  padding: 0.3rem 0;
}

input[name] {
  box-sizing: border-box;
  font-size: 1.5rem;
  display: block;
  width: 100%;
}

input[type="submit"] {
  font-size: 1.5rem;
  cursor: pointer;
  background: #000;
  border: none;
  color: #fff;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
}

.flashes, .flashes li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.flashes li {
  background: #f8d7da;
  color: #721c24;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

footer, footer a {
  color: #fff;
  font-size: 1rem;
}

.bookmarklet {
  text-decoration: none;
  border: 0.3rem #000 solid;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  main, footer {
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  label {
    text-align: left;
  }
}
