<html>
    <head>
        <meta charset="utf-8">
        <title>ČSFD &rarr; Trello</title>
    </head>
    <body>
        <h1>ČSFD &rarr; Trello</h1>
        <p>
            Přetáhni si tenhle odkaz do lišty v prohlížeči:
        </p>
        <p>
            <a href="javascript:{{ bookmarklet }}">Chci vidět</a>
        </p>
        <p>
            Vždycky když pak budeš chtít přidat film, stačí když budeš zrovna na stránce toho filmu na ČSFD a klikneš na tohle magické tlačítko.
        </p>
        <hr>
        Zdrojový kód této kraviny: <a href="https://github.com/honzajavorek/film2trello">github.com/honzajavorek/film2trello</a>
    </body>
</html>


