name: build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Poetry
        run: pipx install poetry==1.8.5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: pyproject.toml
          cache: poetry

      - name: Install Python dependencies
        run: poetry install

      - name: Test
        run: poetry run pytest

      - name: Lint
        run: poetry run ruff check

      - name: Format
        run: poetry run ruff format --check

      - name: Install Fly
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to Fly
        if: ${{ github.ref == 'refs/heads/main' }}
        run: flyctl deploy
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
